/*----------   Website theme -----------*/

:root {
    --hue-1: 257;
    --hue-2: 47;
    --bg-color: hsl(var(--hue-1), 100%, 97%);
    --main-color-1: hsl(var(--hue-1), 100%, 60%);
    --main-color-drak-1: hsl(var(--hue-1), 69%, 50%);
    --main-color-2: hsl(var(--hue-2), 82%, 55%);
    --main-color-dark-2: hsl(var(--hue-2), 82%, 55%);
    --section-padding: 7rem;
}

body {
    --bg-color-1: hsl(var(--hue-1), 100%, 97%);
    --bg-color-2: white;
    --bg-color-3: hsl(var(--hue-1), 100%, 98%);
    --bg-color-transparent: rgba(255, 255, 255, 0.6);
    --heading-color: hsl(var(--hue-1), 61%, );
    --text-color: hsl(var(--hue-1), 17%, 63%);
}

body.dark {
    --bg-color: hsl(var(--hue-1), 19%, 15%);
    --bg-color-1: hsl(var(--hue-1), 2%, 11%);
    --bg-color-2: hsl(var(--hue-1), 23%, 19%);
    --bg-color-3: hsl(var(--hue-1), 23%, 24%);
    --bg-color-transparent: hsla(var(--hue-1), 23%, 19%, 0.6);
    --heading-color: hsl(var(--hue-1), 100%, 95%);
    --text-color: hsl(var(--hue-1), 14%, 51%);
}

body.dark.toggle-btn {
    background-color: var(--bg-color-3);
}

body.dark.toggle-btn:hover {
    background-color: brightness(110%);
}

body.dark .nav-link:hover::after,
body.dark .nav-link.active::after {
    opacity: 0.6;
}

body.dark .form-input:hover {
    filter: brightness(110%);
}

/*------------   General styles ----------*/

*,
* ::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
    font-family: "Poppins", sans-serif;
}

::selection {
    background-color: hsl(var(--hue-1), 100%, 60%);
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* --------- Reusable CSS code  ----------- */
.container {
    position: relative;
    width: 100%;
    max-width: 75rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

.logo {
    margin-right: 1.5rem;
    height: 120px;
    line-height: 120px;
    font-family: "Abril Fatface", cursive;
    font-size: 1.5rem;
    color: var(--heading-color);
    letter-spacing: 1px;
    transition: 0.3s;
}

.logo span {
    color: var(--main-color-1);
}

.sub-heading {
    color: var(--heading-color);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 0.5px;
    border-left: 3px solid var(--main-color-2);
    padding: 0.13rem 0.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.heading {
    color: var(--heading-color);
    font-size: 3rem;
    font-family: "Abril Fatface";
    font-weight: 400;
    line-height: 1.3;
}

.text {
    color: var(--text-color);
    font-size: 0.9rem;
    margin: 2rem 0;
    line-height: 2.3;
}

.cta {
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
}

.btn {
    /*change */
    margin-right: 1.5rem;
}

.btn {
    display: inline-block;
    padding: 0.9rem 1.75rem;
    border-radius: 17px;
    background-color: var(--main-color-1);
    color: white;
    font-size: 0.85rem;
    letter-spacing: 0.4px;
    text-transform: capitalize;
    transition: 0.3s;
}

.btn:hover {
    background-color: var(--main-color-drak-1);
}

.btn.secondary-btn {
    position: relative;
    background-color: transparent;
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0px;
    border-bottom: 2.5px solid var(--main-color-dark-2);
    border-radius: 0px;
    padding: 0.15rem;
}

.btn.secondary-btn::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 2.5px;
    bottom: -2.5px;
    left: 0;
    background-color: var(--main-color-1);
    transform: 0.3s ease-in-out;
}

.btn.secondary-btn:hover::before {
    width: 100%;
}


.section {
    position: relative;
    padding: var(--section-padding) 0;
}

/*--------- Navigation Bar styles----------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: 0.3s;
}

header.scrolled {
    background-color: var(--bg-color-transparent);
    box-shadow: 0 5px 20px 0.1px rgba(0, 0, 0, 0.1);
}

nav.container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

header.logo {
    height: 120px;
    line-height: 120px;
}

header.scrolled.logo {
    height: 80px;
    line-height: 80px;
}

.links {
    /* background-color: red; */
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.links ul {
    display: flex;
    align-items: center;
    width: 100%;

}

.nav-link {
    position: relative;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.5px;
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.9;
    transition: 0.32s;
}

.nav-link::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background-color: var(--main-color-1);
    bottom: 0;
    left: -5px;
    z-index: -1;
    opacity: 0.1;
    transition: 0.3s;
}

.nav-link:hover,
.nav-link.active {
    color: var(--heading-color);
}

.nav-link:hover::after,
.nav-link.active::after {
    width: 100%;
    opacity: 0.2;
}

.toggle-btn {
    color: var(--heading-color);
    min-width: 40px;
    height: 40px;
    background-color: var(--bg-color-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    cursor: pointer;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.05);
    transition: 0.3s;
    margin-right: 1rem;
}

.toggle-btn:hover {
    filter: brightness(97%);
}

/* --------- Showcase area styling ----------- */

.showcase-area {
    padding: 120px 0;
    width: 100%;
    overflow: hidden;
}

.showcase-area.container {
    display: grid;
    /* grid-template-columns: 1fr 550px; */
    grid-template-columns: repeat(2, 1fr);
    height: calc(100vh - 120px);
    max-height: 600px;
    align-items: center;
}

.showcase-area .sub-heading {
    margin-bottom: 0.7rem;
}

.showcase-area .heading {
    font-size: 3.5rem;
}

.showcase-area.text {
    margin: 0.8rem 0;
}


/* 31.26 */

/* ------ About Section Styling ------- */

.about.container {
    display: grid;
    grid-template-columns: 1.05fr 1fr;
}


.about.text {
    margin: 3rem 0 4rem;
}

/*icon section   skip  */

/* -------------- skills section styling */

.skills {
    overflow: hidden;
}

.skills-box {
    background-color: var(--bg-color-2);
    padding: 5rem 6rem;
    border-radius: 20px;
    width: 100%;
}

.box-desc {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: 2rem;
}

.skills-wrap {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    margin-top: 2rem;
    justify-content: space-between;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sk-progress {
    width: 150px;
    height: 150px;
    position: relative;
}

.sk-progress svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);

}

.sk-progress svg circle {
    fill: var(--bg-color-1);
    stroke-width: 5px;
    stroke: var(--main-color-1);
    stroke-linecap: round;
    stroke-dasharray: 427;
    stroke-dashoffset: 150;
}

.counter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: var(--heading-color);
    font-weight: 400;
    font-size: 0.9rem;
}

.counter span {
    font-size: 2.45rem;
}

.sk-title {
    color: var(--heading-color);
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
}

/*-------------- service section styling----------*/

.services .container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    column-gap: 6rem;
    align-items: center;
}

/* .milestones {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    justify-items: flex-start;
} */


.milestones {
    display: inline-block;
    margin: 1%;
    padding: 10px;
}

.milestones h2 {
    color: var(--main-color-1);
    font-size: 1.3rem;
}

.milestones h2 span {
    font-size: 2rem;
    line-height: 1.2;
    margin-right: 0.1rem;
}

.milestones h5 {
    color: var(--heading-color);
    line-height: 0.9;
    font-weight: 500;
    font-size: 0.95rem;
}

.services-grid {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 4.4rem;
}

.srv-card {
    background-color: var(--bg-color-2);
    border-radius: 15px;
    padding: 2.5rem 2.1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 280px;
}

.srv-card h3 {
    color: var(--heading-color);
    font-weight: 500;
    font-size: 1.05rem;
}

.srv-card .text {
    margin: 0.7rem;
    font-size: 0.7rem;
}

.srv-card:nth-child(2) {
    transform: translateY(2.2rem);
}

.srv-card:nth-child(3) {
    transform: translateY(-2.2rem);
}

.services-grid::before {
    content: "";
    position: absolute;
    width: 210px;
    height: 210px;
    top: 50%;
    left: 50%;
    transform: (-50%, -50%);
    border: 15px solid var(--main-color-1);
    z-index: -1;
    opacity: 0.07;
}

/* skip portfolio section */

/* --------------- contact section styling */

.contact .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
}

.mail {
    color: var(--main-color-1);
    font-weight: 500;
    font-size: 1.1rem;
    transition: 0.3s;
}

.mail i {
    display: inline-block;
    font-size: 1.5rem;
    margin-left: 2px;
    transform: translateY(3px);
    transition: 0.3s;
}

.mail:hover {
    color: var(--main-color-drak-1);
}

.mail:hover i {
    margin-left: 10px;
}

.contact-form {
    background-color: var(--bg-color-2);
    border-radius: 20px;
    padding: 3.5rem 3rem;
    display: flex;
    flex-direction: column;
}

.contact-form h3 {
    color: var(--heading-color);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1.6rem;
    line-height: 0.9;
}

.form-input {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    background: var(--bg-color-1);
    border: 2px solid var(--bg-color-1);
    width: 100%;
    border-radius: 17px;
    font-family: inherit;
    font-size: 0.85rem;
    font-weight: 500;
    color: var(--heading-color);
    outline: none;
    transition: 0.3s;
}

.form-input::placeholder {
    color: var(--text-color);
}

.form-input:hover {
    filter: brightness(97%);
}

.form-input:valid,
.form-input:focus {
    filter: brightness(100%);
    background: var(--bg-color-1);
    border: var(--main-color-1);
}

textarea.form-input {
    resize: none;
    min-height: 170px;
}

.contact-form .form-input {
    margin-bottom: 1.5rem;
}

/* --------------- footer section styling */

footer {
    padding: 4rem 0;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .social-media {
    display: flex;
}

.social-link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 1rem;
    background-color: var(--bg-color-1);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: 0.3s;
}

.social-link:hover {
    color: var(--main-color-1);
}